configs:
  copyparty-config:
    content: |
      [global]
      e2dsa, e2ts, ansi, z
      rproxy: -1

      [accounts]
      admin: changeme

      [/]
      /w
      accs:
        rwmda: admin

services:
  copyparty-ts:
    image: tailscale/tailscale:latest
    container_name: copyparty-ts
    hostname: copyparty
    environment:
      - TS_AUTHKEY=
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_SERVE_CONFIG=/config/copyparty.json
      - TS_USERSPACE=true
    volumes:
      - /path/to/copyparty/ts-config:/config
      - /path/to/copyparty/ts-state:/var/lib/tailscale
    restart: unless-stopped

  copyparty:
    image: copyparty/ac:latest
    container_name: copyparty
    network_mode: service:copyparty-ts
    configs:
      - source: copyparty-config
        target: /cfg/config.conf
    volumes:
      - /path/to/data:/w
