services:
  crafty-ts:
    image: tailscale/tailscale:latest
    container_name: crafty-ts
    hostname: crafty
    environment:
      - TS_AUTHKEY=
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_SERVE_CONFIG=/config/crafty.json
      - TS_USERSPACE=true
    volumes:
      - /path/to/crafty/ts-state:/var/lib/tailscale
      - /path/to/crafty/ts-config:/config
    restart: unless-stopped

  crafty:
    image: registry.gitlab.com/crafty-controller/crafty-4:latest
    container_name: crafty-controller
    network_mode: service:crafty-ts
    environment:
      - TZ=insert-time-zone-here
    volumes:
      - /path/to/crafty/backups:/crafty/backups
      - /path/to/crafty/logs:/crafty/logs
      - /path/to/crafty/servers:/crafty/servers
      - /path/to/crafty/config:/crafty/app/config
      - /path/to/crafty/import:/crafty/import
    depends_on:
      - crafty-ts
    restart: unless-stopped
